{% extends "layout.html" %}

{% block title %}
    Reader
{% endblock %}

{% block main %}
        <form  method="post" action="/" class="vocab">
            <div>
                <h2 class="shadow-lg p-3 mb-3 bg-body-tertiary mx-auto w-25 rounded">
                    Enter Text
                </h2>
            </div>
            <div>
                
                <textarea  name="text" placeholder="paste text here..." cols="60" rows="15" class="rounded-3 form-text"></textarea>
            </br>
                <button type="submit" class="shadow-lg container-fluid w-25 p-2 text-center mt-3 btn-primary rounded">Read</button>
            
        </form>
    </div>
{% endblock %}


