{% extends "layout.html" %} {% block title %} Reader {% endblock %} {% block
main %}
<div class="container py-4" id="display">
  <div class="text-center">
    <h2
      class="shadow p-3 mb-4 bg-secondary-subtle text-light mx-auto w-75 rounded"
    >
      Click on the words you don't know
    </h2>

    <div class="special">{{ words }}</div>

    <h2
      id="start"
      type="button"
      onclick="display()"
      class="btn btn-primary btn-lg mt-3 shadow"
    >
      START
    </h2>
  </div>
</div>

<div class="vocab text-center mt-5">
  <form action="/vocab">
    <button
      type="submit"
      id="button"
      class="btn btn-outline-light px-4 py-2 rounded shadow-sm"
    >
      Vocab Trainer
    </button>
  </form>
</div>

<!-- jQuery and Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="static/script.js"></script>
{% endblock %}
